@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}
body {
  overflow-x: hidden;
}
img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  width: 100%;
}
main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
main img {
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  background-image: url(https://t3.ftcdn.net/jpg/01/85/57/96/360_F_185579665_NMf32rs2DHwV8PXipMIyAiwhvib9iGgv.jpg);
  background-size: contain;
  color: white;
  padding-inline: 40px;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
header p {
  cursor: default;
}
.imagecontainer {
  position: relative;
  width: 100%;
  height: 570px;
}
.textoverlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  cursor: default;
}
.textoverlay h1 {
  font-size: 110px;
  width: 70%;
  line-height: 100px;
  cursor: default;
}
.textoverlay p {
  width: 50%;
  font-size: 20px;
  line-height: 30px;
  padding-block: 20px;
  padding-right: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.471);
  margin-bottom: 20px;
  margin-top: 5px;
  cursor: default;
}
.checknadderud {
  width: fit-content;
  padding-block: 10px;
  padding-inline: 40px;
  background-color: rgba(0, 128, 0, 0.548);
  border-radius: 10px;
  font-size: 30px;
  transition: 0.3s;
  cursor: pointer;
}
.checknadderud:hover {
  padding-inline: 60px;
  text-align: center;
  transition: 0.3s;
  background-color: rgb(36, 164, 83);
  box-shadow: 0 0 100px black;
}
.gråkubber {
  position: absolute;
}
.textoverlay {
  width: 100%;
  height: 100%;
  color: white;
}
header img {
  width: 100px;
  border-radius: 50%;
}

.logotitle {
  display: flex;
  gap: 25px;
  align-items: center;
  font-size: 60px;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}

header nav a {
  transition: 0.5s;
  padding: 10px;
  font-size: 20px;
}

header nav a:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.548);
  border-radius: 10px;
}

body {
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 250px;
  width: 75%;
  gap: 15px;
}

section article {
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  border-radius: 0px;
  overflow: hidden;
}

section article:hover {
  transform: scale(1.05);
  cursor: pointer;
  border-radius: 20px;
}

section article a {
  height: 100%;
  position: relative;
}

section article img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

section article h1 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  text-shadow: 0 0 10px black;
  z-index: 2;
}

.stornyhet {
  grid-column: span 4;
  grid-row: span 2;
  background-color: rgb(255, 255, 255);
  font-size: 40px;
}

.litennyhet {
  grid-column: span 2;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

footer {
  background-color: rgba(0, 128, 0, 0.328);
  margin-top: 100px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
}

.om_oss {
  display: flex;
  justify-content: space-between;
}

.navn {
  padding: 20px;
  font-size: 50px;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.lagetav {
  padding: 20px;
  padding-left: 40px;
}
.lagetav p {
  font-size: 25px;
}

.lagetav ul {
  padding: 10px;
  line-height: 25px;
}

.publisert {
  padding: 20px;
  padding-right: 40px;
  font-size: 25px;
}

.publisert p {
  margin-bottom: 10px;
}

.nor {
  font-size: 20px;
}

@media (width < 950px) {
  .stornyhet {
    grid-column: span 6;
  }

  .litennyhet {
    grid-column: span 3;
  }

  .spesiell {
    grid-column: span 6;
  }
  .textoverlay {
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }
  .textoverlay h1 {
    width: 100%;
    text-align: center;
    display: grid;
  }
  .textoverlay p {
    width: 80%;
    padding-left: 20px;
    text-align: justify;
  }
  .gråkubber {
    width: 140%;
    height: 550px;
  }
}

@media (width < 650px) {
  .litennyhet {
    grid-column: span 6;
  }
  .textoverlay p {
    font-size: 15px;
  }
  .gråkubber {
    width: 170%;
  }
}
