* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
header img {
  width: 100px;
  border-radius: 50%;
}
.logotitle {
  display: flex;
  gap: 25px;
  align-items: center;
}
header nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
