* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-image: url(https://t3.ftcdn.net/jpg/01/85/57/96/360_F_185579665_NMf32rs2DHwV8PXipMIyAiwhvib9iGgv.jpg);
  background-size: contain;
  color: white;
}
header img {
  width: 100px;
  border-radius: 50%;
}
.logotitle {
  display: flex;
  gap: 25px;
  align-items: center;
}
header nav {
  display: flex;
  gap: 20px;
  align-items: center;
}
header nav p:hover {
  transform: scale(1.1);
}
