* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
header {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  background-image: url(https://t3.ftcdn.net/jpg/01/85/57/96/360_F_185579665_NMf32rs2DHwV8PXipMIyAiwhvib9iGgv.jpg);
  background-size: contain;
  color: white;
  padding-inline: 40px;
}
header img {
  width: 100px;
  border-radius: 50%;
}
.logotitle {
  display: flex;
  gap: 25px;
  align-items: center;
  font-size: 50px;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}
header nav p {
  transition: 0.5s;
  padding: 10px;
}

header nav p:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.548);
  border-radius: 10px;
}
section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 75%;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
section div {
  height: 300px;
  border: 2px black solid;
}
