@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  padding-block: 20px;
  background-image: url(https://t3.ftcdn.net/jpg/01/85/57/96/360_F_185579665_NMf32rs2DHwV8PXipMIyAiwhvib9iGgv.jpg);
  background-size: contain;
  color: white;
  padding-inline: 40px;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}
header img {
  width: 100px;
  border-radius: 50%;
}
.logotitle {
  display: flex;
  gap: 25px;
  align-items: center;
  font-size: 60px;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 25%;
}
header nav a {
  transition: 0.5s;
  padding: 10px;
  font-size: 20px;
}

header nav a:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: rgba(0, 128, 0, 0.548);
  border-radius: 10px;
}
