.sectioncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.førstenyhetcontainer {
    display: flex;
}
.førstenyhetcontainer div {
    width: 50%;
}
