body {
  display: grid;
  gap: 50px;
  color: white;
  background-color: black;
}
img {
    border-radius: 20px;
}
h1 {
  color: rgb(0, 190, 126);
}
.sectioncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.førstenyhetcontainer {
  display: flex;
  gap: 20px;
  border-block: 3px solid gray;
  padding-block: 20px;
}
.førstenyhetcontainer p {
  text-align: justify;
  line-height: 25px;
  border-top: 3px solid gray;
  padding-top: 20px;
}
.førstenyhetcontainer h1 {
  padding-bottom: 20px;
}
.førstenyhetcontainer div {
  width: 50%;
}
.andrenyhetcontainer {
  display: flex;
  gap: 20px;
  border-bottom: 3px solid gray;
  padding-block: 20px;
}
.andrenyhetcontainer p {
  text-align: justify;
  line-height: 25px;
  border-top: 3px solid gray;
  padding-top: 20px;
}
.andrenyhetcontainer h1 {
  padding-bottom: 20px;
}
.andrenyhetcontainer div {
  width: 50%;
}
