body {
  display: grid;
  gap: 50px;
}
.sectioncontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  width: 60%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.førstenyhetcontainer {
  display: flex;
  border-block: 3px solid black;
  padding-block: 30px;
  gap: 20px;
}
.førstenyhetcontainer p {
  text-align: justify;
  line-height: 25px;
}
.førstenyhetcontainer div {
  width: 50%;
}
